RewriteCond %{HTTP_HOST} ^www.j15e.com [NC]
RewriteRule ^(.*)$ http://j15e.com/$1 [L,R=301]
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpeg "modification plus 5 years"
ExpiresByType image/png "modification plus 5 years"
ExpiresByType image/gif "modification plus 5 years"
</IfModule>